#inputText{
    max-width: 100%;
    max-height: 100%;
}

#text{
    display: inline-block;
}

#maxText{
    display: inline-block;
    font-size: 0.8em;
    margin:0 0 3px 10px;
    color:gray;

}

#red{
    margin:0;
}

#alert{
    font-size: 0.85em;
}

#output{
    background-color: rgb(124, 124, 124);
    max-width: 370px;
    height: 100px;
    padding:3px;

}

#fix{
    background-color: rgb(252, 252, 241);
    max-width: 390px;
    height: 200px;
    padding:1px 5px 10px 5px;

}

.config{
    color:white;
    background-color: rgba(128, 128, 128, 0.288);
    margin:0;
}

#setMax{
    max-width: 150px;
    font-size: 0.8em;
    border: rgba(0, 0, 0, 0.37) double;
    padding:2px;
}

#setMax > p{
    margin:0;
}

#features{
    max-width: 685px;
    background-color:rgb(243, 243, 243);
    padding: 2px 0 2px 10px;
    color:gray;
}

#features > p{
    text-decoration: underline;
}

#features > ul > li{
    font-size: 0.9em;
}